<html>
<body>
<div class="row">
    <div class="col-sm-5" style="padding:20px">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-home"></span></span>
                <input list="FromStation" name="FromStation" class="form-control" ng-model="FromStation">
                    <datalist id="FromStation">
                    <option value="Alewife">
                    <option value="Davis">
                    <option value="Porter">
                    <option value="Harvard">
                    <option value="Central">
                    <option value="Kendall">
                    <option value="Charles">
                    <option value="Park Street">
                    <option value="Downtown Crossing">
                    <option value="South Station">
                    <option value="Broadway">
                    <option value="Andrew">
                    <option value="JFK">
                    <option value="Savin Hill">
                    <option value="Fields Corner">
                    <option value="Shawmut">
                    <option value="Ashmont">
                    </datalist>
        </div>
    </div>
    <div class="col-sm-5" style="padding:20px">
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                <input list="ToStation" name="ToStation" class="form-control" ng-model="ToStation">
                    <datalist id="ToStation">
                    <option value="Alewife">
                    <option value="Davis">
                    <option value="Porter">
                    <option value="Harvard">
                    <option value="Central">
                    <option value="Kendall">
                    <option value="Charles">
                    <option value="Park Street">
                    <option value="Downtown Crossing">
                    <option value="South Station">
                    <option value="Broadway">
                    <option value="Andrew">
                    <option value="JFK">
                    <option value="Savin Hill">
                    <option value="Fields Corner">
                    <option value="Shawmut">
                    <option value="Ashmont">
                    </datalist>
        </div>
    </div>
    <div class="col-sm-2" style="padding:20px">
        <button class="btn btn-danger" ng-click="searchfn()">Search</button>
    </div>
</div>
<div ng-show="validsearch" class="container">
    <div class="row">
        <div class="col-sm-5" style="padding:20px">
        <div class=" backdiv-red">
            <br /><br />
            Departs from <br /><span class="glyphicon glyphicon-home"></span>
            <span class="large"> {{FromStationjs}} </span>at <br />
            <span class="glyphicon glyphicon-time"></span><span class="large-i">{{FromTime}}</span><br /><br /><br />
            Reaches <br /><span class="glyphicon glyphicon-map-marker"></span>
            <span class="large"> {{ToStationjs}}</span> at <br />
            <span class="glyphicon glyphicon-time"></span><span class="large-i">{{ToTime}}</span><br /><br /><br />
            <button class="btn btn-default" disabled><span class="glyphicon glyphicon-time"></span><span class="large-i">{{TimeDiff}}</span></button>
            </div>
        </div>
        <div class="col-sm-5" style="padding:20px">
            <iframe ng-src="{{trustSrc(MapsURL)}}" border-radius="10" width="100%" height="400" frameborder="0"></iframe>
        </div>
        <div class="col-sm-2" style="padding:20px">
            <span ng-show="ActiveUser"><button class="btn btn-danger" ng-click="AddTrip()"><span class="glyphicon glyphicon-star"></span></button></span>
        </div>
    </div>
</div>
<br /><hr /><br />
<div ng-show="FavAshmontTrips.length>0" class="container">
    <div class=" backdiv-red">
    <br />
        <h2>Your favourite routes in Ashmont Line</h2>
        <ul>
        <li ng-repeat="x in FavAshmontTrips track by $index">
        {{x}}
        </li>
        </ul>
    </div>
</div>
</body>
</html>